
@{
    ViewBag.Title = "Sales Page";
}
<div ng-app="AdminApp">
    <div ui-view></div>
</div>
<script src="@Url.Content("~/Views/Sales/app.js")"></script>
@*<script src="@Url.Content("~/Views/Sales/view/home/home.js")"></script>
<script src="@Url.Content("~/Views/Sales/view/home/home.controller.js")"></script>
<script src="@Url.Content("~/Views/Sales/view/home/homemenu.controller.js")"></script>*@

<script src="@Url.Content("~/Views/Sales/view/deal/deal.js")"></script>
<script src="@Url.Content("~/Views/Sales/view/deal/deal.controller.js")"></script>
<script src="@Url.Content("~/Views/Sales/service/deal.service.js")"></script>

<script src="@Url.Content("~/Views/Sales/view/client/client.js")"></script>
<script src="@Url.Content("~/Views/Sales/view/client/client.controller.js")"></script>
<script src="@Url.Content("~/Views/Sales/service/client.service.js")"></script>

<script src="@Url.Content("~/Views/Sales/view/clienttype/clienttype.js")"></script>
<script src="@Url.Content("~/Views/Sales/view/clienttype/clienttype.controller.js")"></script>
<script src="@Url.Content("~/Views/Sales/service/clienttype.service.js")"></script>

<script src="@Url.Content("~/Views/Sales/view/department/department.js")"></script>
<script src="@Url.Content("~/Views/Sales/view/department/department.controller.js")"></script>
<script src="@Url.Content("~/Views/Sales/service/department.service.js")"></script>

<script src="@Url.Content("~/Views/Sales/view/dealcurrentstatus/dealcurrentstatus.js")"></script>
<script src="@Url.Content("~/Views/Sales/view/dealcurrentstatus/dealcurrentstatus.controller.js")"></script>
<script src="@Url.Content("~/Views/Sales/service/dealcurrentstatus.service.js")"></script>

<script src="@Url.Content("~/Views/Sales/view/status/status.js")"></script>
<script src="@Url.Content("~/Views/Sales/view/status/status.controller.js")"></script>
<script src="@Url.Content("~/Views/Sales/service/status.service.js")"></script>

<script src="@Url.Content("~/Views/Sales/view/statusreason/statusreason.js")"></script>
<script src="@Url.Content("~/Views/Sales/view/statusreason/statusreason.controller.js")"></script>
<script src="@Url.Content("~/Views/Sales/service/statusreason.service.js")"></script>

<script src="@Url.Content("~/Views/Sales/view/statusmessage/statusmessage.js")"></script>
<script src="@Url.Content("~/Views/Sales/view/statusmessage/statusmessage.controller.js")"></script>
<script src="@Url.Content("~/Views/Sales/service/statusmessage.service.js")"></script>

<script src="@Url.Content("~/Views/Sales/view/surveytype/surveytype.js")"></script>
<script src="@Url.Content("~/Views/Sales/view/surveytype/surveytype.controller.js")"></script>
<script src="@Url.Content("~/Views/Sales/service/surveytype.service.js")"></script>

<script src="@Url.Content("~/Views/Sales/view/dealopportunitystatus/dealopportunitystatus.js")"></script>
<script src="@Url.Content("~/Views/Sales/view/dealopportunitystatus/dealopportunitystatus.controller.js")"></script>
<script src="@Url.Content("~/Views/Sales/service/dealopportunitystatus.service.js")"></script>


